@font-face {
 font-display:swap;
 font-family:Metropolis;
 font-style:normal;
 font-weight:700;
 src:url("../fonts/Metropolis-ExtraBold.woff2") format("woff2"),
 url("../fonts/Metropolis-ExtraBold.woff") format("woff")
}
@font-face {
 font-display:swap;
 font-family:Metropolis;
 font-style:normal;
 font-weight:600;
 src:url("../fonts/Metropolis-Bold.woff2") format("woff2"),
 url("../fonts/Metropolis-Bold.woff") format("woff")
}
@font-face {
 font-display:swap;
 font-family:Metropolis;
 font-style:normal;
 font-weight:500;
 src:url("../fonts/Metropolis-Medium.woff2") format("woff2"),
 url("../fonts/Metropolis-Medium.woff") format("woff")
}
@font-face {
 font-display:swap;
 font-family:Metropolis;
 font-style:normal;
 font-weight:400;
 src:url("../fonts/Metropolis-Regular.woff2") format("woff2"),
 url("../fonts/Metropolis-Regular.woff") format("woff")
}
@font-face {
 font-display:swap;
 font-family:Metropolis;
 font-style:normal;
 font-weight:300;
 src:url("../fonts/Metropolis-Light.woff2") format("woff2"),
 url("../fonts/Metropolis-Light.woff") format("woff")
}
@font-face {
 font-display:swap;
 font-family:Metropolis;
 font-style: normal;
 font-weight:200;
 src:url("../fonts/Metropolis-ExtraLight.woff2") format("woff2"),
 url("../fonts/Metropolis-ExtraLight.woff") format("woff")
}

@font-face {
 font-display:swap;
 font-family:'Metropolis Black';
 font-style:normal;
 font-weight:normal;
 src:url("../fonts/Metropolis-Black.woff2") format("woff2"),
 url("../fonts/Metropolis-Black.woff") format("woff"),
 url("../fonts/Metropolis-Black.ttf") format("truetype"),
 url("../fonts/Metropolis-Black.otf") format("opentype"),
 url("../fonts/Metropolis-Black.eot") format("eot")
}
.hide {	display: none; }
.toggleFade {	opacity: 0; }
a {
	-webkit-transition: 200ms linear 0s;
	-moz-transition: 200ms linear 0s;
	-o-transition: 200ms linear 0s;
	transition: 200ms linear 0s;
	-webkit-touch-callout: none; /* iOS */
	-webkit-user-select: none; /* Chrome all / Safari all */
	-khtml-user-select: none; /* Konqueror */
	-moz-user-select: -moz-none; /* Firefox all */
	-ms-user-select: none; /* IE 10+ / Opera */
	outline: none;
	border: none;
	border-style: none;
}
a, a:visited {
	color: inherit;
	text-decoration: none;
	text-shadow: none;
}
a:hover, a:active, a:focus {
	color: red;
	text-decoration: none;
	-webkit-transition: 20ms linear 0s;
	-moz-transition: 20ms linear 0s;
	-o-transition: 20ms linear 0s;
	transition: 20ms linear 0s;
}
a.glow:hover, a.glow:active, a.glow:focus {
	text-shadow: 0 0 2px #c4dcff, 0 0 2px #c4dcff, 0 0 2px #c4dcff, 0 0 2px #c4dcff, 0 0 2px #c4dcff;
	color: #ffffff;
	text-decoration: none;
	-webkit-transition: 20ms linear 0s;
	-moz-transition: 20ms linear 0s;
	-o-transition: 20ms linear 0s;
	transition: 20ms linear 0s;
}
a.underline:hover, a.underline:active, a.underline:focus, a.underline.on {
	color: #ffffff;
	text-decoration: none;
	-webkit-transition: 20ms linear 0s;
	-moz-transition: 20ms linear 0s;
	-o-transition: 20ms linear 0s;
	transition: 20ms linear 0s;
	border-bottom: 2px solid red !important;
}
article.blog_list {
	width: 100%;
	border-bottom: 1px solid #333;
}
article h1 {
	font-weight: 300;
}
.blog_date_categories_tags {
	font-weight: 300;
	color: #777;
	margin-top: -16px;
}
.blog_content p {
	line-height: 26px;
	padding-bottom: 25px;
}
.blog_content a {
	border-bottom: 2px solid maroon;
}
.blog_content a:hover, a:active {
	color: white;
}
iframe {
	border: 0px;
	max-height: 529px;
	width: 100%;
	height: 56.25vw;
}
#loading_animation {
    position: fixed;
		margin: 0;
    top: 0;
		bottom: 0;
		right: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
		background-color: #000;
		overflow: hidden;
}
#loading_animation .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
#loading_animation img {
	vertical-align: middle;
	max-height: 31px;
	max-width: 31px;
}
/* Chrome, Edge, Safari, Opera, all browsers on iOS, and others */
html::-webkit-scrollbar,
html::-webkit-scrollbar-thumb {
	width: 0 !important;
	color: transparent;
}
html {
	background-color: #000;
	color: #ccc;
	font-family: 'Metropolis', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
	font-weight: 300;
	overflow: -moz-scrollbars-none; /* Firefox <63 */
	-ms-overflow-style: none; /* IE 10+ */
	scrollbar-width: none; /* Firefox 64+ */
	scrollbar-color: transparent transparent; /* Firefox 64+ */
}
body {
	padding: 0;
	margin: 0;
	-webkit-touch-callout: none; /* iOS */
	-webkit-user-select: none; /* Chrome all / Safari all */
	-khtml-user-select: none; /* Konqueror */
	-moz-user-select: -moz-none; /* Firefox all */
	-ms-user-select: none; /* IE 10+ / Opera */
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
#wrapper {
	width: 100%;
	max-width: 960px;
	min-width: 330px;
	margin: auto;
	cursor: default;
	outline: none;
	flex-grow: 1;
	flex-shrink: 0;
}
#header_wrapper {
	padding-top: 40px;
	padding-bottom: 20px;
}
header {
}
#navigation_wrapper {
}
header nav {
	display: flex;
	justify-content: space-evenly;
}
header nav div:hover {
	cursor: pointer;
}
header nav a {
	font-size: xx-large;
	text-transform: uppercase;
	font-family: 'Metropolis Black', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif !important;
}
#content_wrapper {
}
#content_wrapper>* {
	/* position: relative;
	margin: 0 auto;
	height: 100%; */
}
#content_wrapper>*:not(#page_archive_work) {
	padding: 10px;
}
.numbers {
}
#page_archive_work {
	display: table;
	/* margin-bottom: 10px; */
}
#page_archive_work nav {
	display: inherit;
	margin: 10px;
	font-size: x-large;
	text-align: center;
}
#page_archive_work nav a {
	/* This fixes the flex box movement on :hover */
	border-bottom: 2px solid black;
	margin: 15px 20px 15px 0;
	display: inline-block;
}
.title_wrapper div {
	display: block;
	min-width: 200px;
}
.title {
	color: white;
	text-transform: uppercase;
	letter-spacing: 5px;
	line-height: 2em;
	width: 100%;
}
.title h1 {
	line-height: initial;
}
.numbers_wrapper {
	letter-spacing: -5px;
	text-align: right;
}
.numbers div,
.numbers div img {
	width: 33px;
	height: 30px;
	display: block;
	cursor: pointer;
}
.numbers_wrapper .numbers div:nth-of-type(1) img:nth-of-type(1) {
	display: none;
	opacity: 0;
}
div.highlight_text {
	line-height: 2em;
	clear: both;
	cursor: default;
	margin-bottom: 50px; /* Space below the content*/
}
div.highlight_text div.masonry_wrapper {
	width: 100%;
	height: 100%;
	column-count: 3; /* maximum width */
	column-width: 166px; /* minimum width */
	column-gap: 5px;
	column-fill: balance;
}
div.highlight_text div.masonry_wrapper div.masonry_column {
	width: 100%;
}
div.masonry_column {
	margin-bottom: 30px;
}
div.highlight_text div.skills {
	display: table;
	width: 100%;
}
div.highlight_text div.skills:nth-child(n+3) {
	padding: 20px 0;
}
.skills p {
  margin-block-start: 0;
}
div.highlight_text div.skills div.skills_title {
	width: 100%;
	height: 100%;
	text-transform: uppercase;
}
div.highlight_text div.skills div.skills_title h2:first-of-type,
div.highlight_text div.skills div.skills_title h3:first-of-type {
	margin-top: 0;
}
div.highlight_text div.skills div.skills_column {
	width: 19%;
	display: inline-block;
	vertical-align: top;
}
div.highlight_text div.skills div.skills_column_half {
	width: 49%;
	display: inline-block;
	vertical-align: top;
}
div.highlight_text div.skills div.skills_column_wide {
	/* width: 100%; */
	/* display: inline-block;
	vertical-align: top; */
}
div.highlight_text div.skills div.skills_column_wide table {
	width: 100%;
}
div.highlight_text div.skills div.skills_column_wide table td {
	vertical-align: top;
}
div.highlight_text div#psychology.skills div.skills_column_wide table td:first-child {
	width: 50%;
}
div.highlight_text div.skills div.skills_column_wide ul {
	padding-left: 15px;
	margin: 0;
}
div.highlight_text div.skills div.skills_column_wide ul:not(:first-child) {
	margin-top: 26px;
}
div#page_about {
	text-align: left;
}
#comment {
	border: 1px solid #ccc;
	width: 100%;
}
.wp-block-image {
  margin: 0 !important;
}
.wp-block-image img {
  width: 100% !important;
  height: 100% !important;
}
.post-password-form {
  width: 300px;
  margin: 0 auto;
}
label {
  font-size: 20px;
  text-transform: uppercase;
}
input,
textarea  {
  border: 1px solid #ccc;
  padding: 10px 10px;
}
select,
input,
textarea {
	min-width: 300px;
	min-height: 30px;
	display: block;
	margin-bottom: 15px;
	margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
	outline: none;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
	font: 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.button,
input[type=submit] {
  display: block;
	color: black !important;
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 4px;
	margin: 0 auto 35px auto;
	text-align: center;
	padding: 10px 10px;
	text-shadow: 0px 1px 0px #ffffff;

	background-color: #bbb;
	border: 1px solid #ccc;
	box-shadow: inset 0px 20px 15px rgba(255, 255, 255, .5);
	-webkit-transition: 200ms linear 0s;
	-moz-transition: 200ms linear 0s;
	-o-transition: 200ms linear 0s;
	transition: 200ms linear 0s;
}
.button:hover,
input[type=submit]:hover {
	background-color: #ddd;
	box-shadow: inset 0px 20px 15px rgba(255, 255, 255, 1), 0px 0px 10px rgba(224, 240, 245, .75);
	cursor: pointer;
  -webkit-transition: 20ms linear 0s;
  -moz-transition: 20ms linear 0s;
  -o-transition: 20ms linear 0s;
  transition: 20ms linear 0s;
}
.button:active,
input[type=submit]:active {
	box-shadow: inset 0px 20px 15px rgba(255, 255, 255, 1), 0px 0px 10px rgba(224, 240, 245, 1);
	background-color: #fff;
}
.highlight_slides {
	position: relative;
}
.highlight_slides>div {
	height: 100%;
	background-color: #000;
}
.highlight_slides div img {
	width: 100%;
	height: auto;
}
.highlight_slides .slide {
	position: absolute !important;
	z-index: 5;
}
.row {
	width: 100%;
	text-align: center;
}
.column {
	padding: 10px;
	width: calc(100% - 23px);
}
.column:hover {
	cursor: pointer;
}
.column img {
	width: 100%;
	height: 100%;
}
.numbers div img {
	background-color: #000;
}
.numbers div img.off {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 10;
}
.numbers div img.on {
	position: absolute;
	right: 0;
	top: 0;
}
.column,
.numbers div {
	position: relative;
	display: inline-block;
}
footer {
	display: flex;
	width: 100%;
	height: 100px;
	margin: auto;
	align-items: center;
	justify-content: center;
}
footer .copyright {
	text-align: center;
	color: #333;
}
img#matomo {
	border: 0;
}

/* Tablet browsers styles */
@media only screen and (min-device-width: 768px) {
	header nav a {
		font-size: xxx-large;
	}
	#page_archive_work nav {
		display: flex;
		justify-content: space-evenly;
	}
	.column {
		max-width: calc(50% - 23px);
	}
	div.highlight_text div.skills div.skills_title {
		display: table-cell;
		vertical-align: top;
		width: 30%;
	}
	div.highlight_text div.skills div.skills_title h2 {
		margin: 0;
	}
	.title_wrapper {
		display: table;
	}
	.title_wrapper .title {
		font-size: large;
		line-height: normal;;
	}
	.title_wrapper div {
		display: table-cell;
	}
	div.highlight_text div#languages.skills div.skills_column_wide table td:first-child,
	div.highlight_text div#psychology.skills div.skills_column_wide table td:first-child {
		width: 50%;
	}
	td:last-child {
    text-align: right;
	}
}

/* Desktop browsers styles */
@media only screen and (min-device-width: 960px) {
	.column {
		max-width: calc(33% - 20px);
	}
  .title_wrapper {
    width: 100%;
  }
	.title_wrapper .title {
		font-size: x-large;
	}
  .title_wrapper h2 {
  }
}

/* Printing styles */
@media print {
	html {
		color: #000000 !important;
		font-size: 11pt !important;
	}
	header,
	footer,
	nav {
		display: none;
	}
	#wrapper {
		margin: 0 auto !important;
	}
	.numbers_wrapper {
		display: none;
	}
	#content_wrapper>* {
		top: 0 !important;
		padding: 0 !important;
	}
}
