.masonry_wrapper {
	width: 100% !important;
	height: 100%; /* maximum width */ /* minimum width */
	columns: 160px 4;
	column-gap: 5px;
}

.masonry_column {
	/* prevent column break */
	display: inline-block !important;
	width: 100%;
}

.meta-box-sortables textarea {
	width: 100%;
	height: 250px;
}

hr {
	margin: 40px 0;
}

button.handlediv[aria-expanded="true"] + h2 {
	border-bottom: none !important;
}

#editor .postbox {
	background: #f2f2f2;
}

#editor .postbox.closed {
	background: #fff !important;
}
