<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         backupGlobals="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Portfolio Theme Test Suite">
            <directory>./tests/php/</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">./php/</directory>
        </include>
        <exclude>
            <file>./functions.php</file>
        </exclude>
    </coverage>
    <logging>
        <log type="coverage-html" target="coverage/"/>
        <log type="coverage-text" target="php://stdout"/>
    </logging>
</phpunit>